# Question 1

In [1]:
import pandas as pd      #to import pandas
print(pd.__version__)    #to check version of pandas

0.23.4

# Question 2

In [3]:
import pandas as pd
import numpy as np
data=np.array(['pink','blue','purple','green','red']) #numpy array
se=pd.Series(data)  #to create series
print(se)

0      pink
1      blue
2    purple
3     green
4       red
dtype: object

# Question 3

In [19]:
import pandas as pd
data={
    "Computer":1200,
    "Printer":2000,
    "Monitor":1500,
    "Desk":700,
    "Phone":600
}
data1=pd.Series(data)
print(data1)
print(type(data1))
pd.DataFrame(data1,columns=['Price'])

Computer    1200
Printer     2000
Monitor     1500
Desk         700
Phone        600
dtype: int64
<class 'pandas.core.series.Series'>

          Price
Computer   1200
Printer    2000
Monitor    1500
Desk        700
Phone       600

# Question 4

In [14]:
import seaborn as sb
print(sb.get_dataset_names()) #to list all the datasets available in seaborn library
df=sb.load_dataset('mpg') #to load 'mpg' dataset
print(df.head())

C:\Users\Dell\Anaconda3\lib\site-packages\seaborn\utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file C:\Users\Dell\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

# Question 5

In [13]:
df['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

The dataset consists of cars from USA, Japan and Europe.

# Question 6

In [19]:
df1=df[df['origin'].str.contains("usa")] #to extract data based on country origin=usa
print(df1)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
5    15.0          8         429.0       198.0    4341          10.0
6    14.0          8         454.0       220.0    4354           9.0
7    14.0          8         440.0       215.0    4312           8.5
8    14.0          8         455.0       225.0    4425          10.0
9    15.0          8         390.0       190.0    3850           8.5
10   15.0          8         383.0       170.0    3563          10.0
11   14.0          8         340.0       160.0    3609           8.0
12   15.0          8         400.0       150.0    3761           9.5
13   14.0          8         455.0       225.0    3086          10.0
15   22.0          6         198.0        95.0    2833          15.5
16   18.0          6         199.0        97.0    2774          15.5
17   21.0          6         200.0        85.0    2587          16.0
24   21.0          6         199.0        90.0    2648          15.0
25   10.0          8         360.0       215.0    4615          14.0
26   10.0          8         307.0       200.0    4376          15.0
27   11.0          8         318.0       210.0    4382          13.5
28    9.0          8         304.0       193.0    4732          18.5
30   28.0          4         140.0        90.0    2264          15.5
32   25.0          4          98.0         NaN    2046          19.0
33   19.0          6         232.0       100.0    2634          13.0
34   16.0          6         225.0       105.0    3439          15.5
35   17.0          6         250.0       100.0    3329          15.5
36   19.0          6         250.0        88.0    3302          15.5
37   18.0          6         232.0       100.0    3288          15.5
38   14.0          8         350.0       165.0    4209          12.0
..    ...        ...           ...         ...     ...           ...
341  23.5          6         173.0       110.0    2725          12.6
342  30.0          4         135.0        84.0    2385          12.9
344  39.0          4          86.0        64.0    1875          16.4
350  34.7          4         105.0        63.0    2215          14.9
351  34.4          4          98.0        65.0    2045          16.2
352  29.9          4          98.0        65.0    2380          20.7
363  22.4          6         231.0       110.0    3415          15.8
364  26.6          8         350.0       105.0    3725          19.0
365  20.2          6         200.0        88.0    3060          17.1
366  17.6          6         225.0        85.0    3465          16.6
367  28.0          4         112.0        88.0    2605          19.6
368  27.0          4         112.0        88.0    2640          18.6
369  34.0          4         112.0        88.0    2395          18.0
370  31.0          4         112.0        85.0    2575          16.2
371  29.0          4         135.0        84.0    2525          16.0
372  27.0          4         151.0        90.0    2735          18.0
373  24.0          4         140.0        92.0    2865          16.4
374  23.0          4         151.0         NaN    3035          20.5
378  38.0          4         105.0        63.0    2125          14.7
379  36.0          4          98.0        70.0    2125          17.3
386  25.0          6         181.0       110.0    2945          16.4
387  38.0          6         262.0        85.0    3015          17.0
388  26.0          4         156.0        92.0    2585          14.5
389  22.0          6         232.0       112.0    2835          14.7
391  36.0          4         135.0        84.0    2370          13.0
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                               name
0            70    usa          chevrolet chevelle malibu
1            70    usa                  buick skylark 320
2            70    usa                 plymouth satellite
3            70    usa                      amc rebel sst
4            70    usa                        ford torino
5            70    usa                   ford galaxie 500
6            70    usa                   chevrolet impala
7            70    usa                  plymouth fury iii
8            70    usa                   pontiac catalina
9            70    usa                 amc ambassador dpl
10           70    usa                dodge challenger se
11           70    usa                 plymouth 'cuda 340
12           70    usa              chevrolet monte carlo
13           70    usa            buick estate wagon (sw)
15           70    usa                    plymouth duster
16           70    usa                         amc hornet
17           70    usa                      ford maverick
24           70    usa                        amc gremlin
25           70    usa                          ford f250
26           70    usa                          chevy c20
27           70    usa                         dodge d200
28           70    usa                           hi 1200d
30           71    usa                chevrolet vega 2300
32           71    usa                         ford pinto
33           71    usa                        amc gremlin
34           71    usa          plymouth satellite custom
35           71    usa          chevrolet chevelle malibu
36           71    usa                    ford torino 500
37           71    usa                        amc matador
38           71    usa                   chevrolet impala
..          ...    ...                                ...
341          81    usa                 chevrolet citation
342          81    usa                   plymouth reliant
344          81    usa                     plymouth champ
350          81    usa                 plymouth horizon 4
351          81    usa                     ford escort 4w
352          81    usa                     ford escort 2h
363          81    usa                      buick century
364          81    usa              oldsmobile cutlass ls
365          81    usa                    ford granada gl
366          81    usa             chrysler lebaron salon
367          82    usa                 chevrolet cavalier
368          82    usa           chevrolet cavalier wagon
369          82    usa          chevrolet cavalier 2-door
370          82    usa         pontiac j2000 se hatchback
371          82    usa                     dodge aries se
372          82    usa                    pontiac phoenix
373          82    usa               ford fairmont futura
374          82    usa                     amc concord dl
378          82    usa             plymouth horizon miser
379          82    usa                     mercury lynx l
386          82    usa              buick century limited
387          82    usa  oldsmobile cutlass ciera (diesel)
388          82    usa         chrysler lebaron medallion
389          82    usa                     ford granada l
391          82    usa                  dodge charger 2.2
392          82    usa                   chevrolet camaro
393          82    usa                    ford mustang gl
395          82    usa                      dodge rampage
396          82    usa                        ford ranger
397          82    usa                         chevy s-10

[249 rows x 9 columns]